<html lang="en">
<head>
    <style type="text/css" style="font-weight: 300">
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
    </style>
</head>
<body style="padding: 0;margin: 0">
<div style="background: #2a4365; font-family: 'Montserrat', 'Noto Color Emoji', 'Apple Color Emoji', sans-serif;height: 100% !important;width: 100% !important;">
    <div style="padding: 40px;">
        <table style="margin: 0 auto; border-radius: 5px; background: #fff; max-width: 600px; width:100%; border: 1px solid #c7d0d4; border-spacing: 0;">
            <tr>
                <td style="border-bottom: 1px solid #dee7eb; text-align: center;padding: 20px 0;">
                    <img src="https://as207960.net/assets/img/logo2.png" height="150px" alt="Glauca" />
                </td>
            </tr>
            <tr>
                <td style="padding: 20px;">
                    <p>
                        Hello {{ name }},
                    </p>
                    {% block content %}{% endblock %}
                    <p>
                        Thanks,<br/>
                        The Glauca Team<br/>
                        <a href="https://glauca.digital">glauca.digital</a>
                    </p>
                </td>
            </tr>
            {% if feedback_url %}
                <tr>
                  <td style="border-top: 1px solid #dee7eb; background-color:#eee; text-align: center;padding: 20px 0;">
                    <h2>How did we do?</h2>
                    <table style="width:100%;table-layout: fixed;">
                      <tr>
                        <td style="text-align:center;border-right: 1px solid #ccc;">
                          <a href="{{ feedback_url }}?rating=1" style="color:#333">
                              <span style="font-size:30px">&#x1f640;&#xfe0f;</span><br>The worst
                          </a>
                        </td>
                        <td style="text-align:center;border-right: 1px solid #ccc;">
                          <a href="{{ feedback_url }}?rating=2" style="color:#333">
                              <span style="font-size:30px">&#x1f63e;&#xfe0f;</span><br>Bearable
                          </a>
                        </td>
                        <td style="text-align:center;border-right: 1px solid #ccc;">
                          <a href="{{ feedback_url }}?rating=3" style="color:#333">
                              <span style="font-size:30px">&#x1f408;&#xfe0f;</span><br>Eh
                          </a>
                        </td>
                        <td style="text-align:center;border-right: 1px solid #ccc;">
                          <a href="{{ feedback_url }}?rating=4" style="color:#333">
                              <span style="font-size:30px">&#x1f638;&#xfe0f;</span><br>Good but not perfect
                          </a>
                        </td>
                        <td style="text-align:center;border-right: 1px solid #dee7eb;">
                          <a href="{{ feedback_url }}?rating=5" style="color:#333">
                              <span style="font-size:30px">&#x1f63b;&#xfe0f;</span><br>Loved it
                          </a>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
            {% endif %}
        </table>
    </div>
</div>
</body>
</html>