<table style="border-spacing: 0;">
    <tr>
        <td>
            <p>
                The NS records for {{ zone.zone_root }} are now pointing at us correctly, and consequently the zone
                is being served by HexDNS! <i>cue fanfare</i>
            </p>
            <p>
                We'll be sure to email you if we see the NS records change to an invalid configuration.
            </p>
        </td>
        <td>
            <img src="https://as207960.net/assets/img/shark-heart.png" height="100" alt=""/>
        </td>
    </tr>
</table>