Django==4.2.*
django-grpc
dnslib
#git+https://github.com/TheEnbyperor/django-keycloak-auth@d0c11a4a5dec5dfc7730256b011bc86260dda5cf
sentry-sdk
psycopg2-binary
gunicorn
grpcio
protobuf
django-crispy-forms
crispy-bootstrap4
sshpubkeys
cryptography
django-xff
publicsuffixlist
retry
djangorestframework
drf-nested-routers
pyjwt
cryptography
django-cockroachdb==4.2.*
git+https://github.com/AS207960/python-utils@94658686743f1f2ba2dad9960c2b1c8c7ad967af
pika
python-dateutil
kubernetes==24.2.0
celery
idna
django-storages
boto3
