Django<3.2
django-grpc
dnslib
#git+https://github.com/TheEnbyperor/django-keycloak-auth@d0c11a4a5dec5dfc7730256b011bc86260dda5cf
sentry-sdk
psycopg2-binary
gunicorn
grpcio
protobuf
django-crispy-forms
sshpubkeys
cryptography
django-xff
publicsuffixlist
retry
django-rest-framework
drf-nested-routers
pyjwt
cryptography
django-cockroachdb==3.1.*
git+https://github.com/AS207960/python-utils@4ce5f3f8000b8b6f9e875b68adcbe387fd519b02
pika
python-dateutil
kubernetes==24.2.0
celery
idna
