Django<3.2
django-grpc
dnslib
#git+https://github.com/TheEnbyperor/django-keycloak-auth@d0c11a4a5dec5dfc7730256b011bc86260dda5cf
sentry-sdk
psycopg2-binary
gunicorn
grpcio
protobuf
django-crispy-forms
sshpubkeys
cryptography
django-xff
publicsuffixlist
retry
django-rest-framework
drf-nested-routers
pyjwt
cryptography
django-cockroachdb==3.1.*
git+https://github.com/AS207960/python-utils@4d441c9749c057687d5a33dc4972a1421a570f9a
pika
python-dateutil
kubernetes==18.17.0a1
