{% extends 'dns_grpc/base.html' %}
{% block content %}
    <div class="container my-3">
        <div class="bg-light p-3 rounded">
            <h1 class="display-4">Disable zone CDS</h1>
            <b>Zone name: </b> {{ zone.zone_root }}
            <hr class="my-4">
            <p>Are you sure you want to tell the parent zone to disable DNSSEC via CDS?</p>
            <form action="" method="post">
                {% csrf_token %}
                {% if back_url %}
                    <a class="btn btn-primary btn-md" href="{{ back_url }}" role="button">Cancel</a>
                {% else %}
                    <a class="btn btn-primary btn-md" href="{% url 'edit_zone_cds' zone.id %}" role="button">Cancel</a>
                {% endif %}
                <button type="submit" name="disable" value="true" class="btn btn-danger">
                    &#x1f5d1; Disable
                </button>
            </form>
        </div>
    </div>
{% endblock %}⏎ 