{% extends 'dns_grpc/base.html' %}
{% block content %}
    <section class="stripe my-5">
        <div class="container py-3">
            <div class="jumbotron my-0">
                <h1>Edit {{ zone.zone_root_address }}/{{ zone.zone_root_prefix }}</h1>

                <div class="row">
                    <div class="col">
                        <b>Last updated date:</b> {{ zone.last_modified|date:"N jS Y P" }}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container my-3 {% if zone.active %}pt-3 pt-md-5{% endif %}">
        {% if not zone.active %}
            <div class="alert alert-warning" role="alert">
                <h4 class="alert-heading">Inactive zone</h4>
                <p>Your zone doesn't appear to be pointed to us correctly yet.</p>
                <hr>
                <p class="mb-0">
                    Please ensure the parent is configured as described <a href="https://docs.as207960.net/hexdns/setup/" class="alert-link">here</a>.
                    It may take up to 24 hours for the NS updates to propagate.
                </p>
            </div>
        {% endif %}
        <h2>DNSSEC</h2>
        <b>DS key tag:</b> {{ dnssec_tag }} <b>DS algorithm:</b> ECDSA (13) <b>DS digest type:</b> SHA256 (2)<br/>
        <b>DS digest:</b> {{ dnssec_digest }}<br/>
        <hr>
        <h2>PTR records <a href="{% url 'create_r_ptr_record' zone.id %}" class="btn btn-success">New</a></h2>
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead class="thead-dark">
                <tr>
                    <th>Record address</th>
                    <th>Pointer</th>
                    <th>TTL</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% if zone.ptrrecord_set.all %}
                    {% for record in zone.ptrrecord_set.all %}
                        <tr>
                            <td>{{ record.record_address }}</td>
                            <td>{{ record.pointer }}</td>
                            <td>{{ record.ttl }}</td>
                            <td style="width: 1px;">
                                <div class="btn-group">
                                    <a href="{% url 'edit_r_ptr_record' record.id %}" class="btn btn-primary btn-sm">&#x1f58a; Edit</a>
                                    <a href="{% url 'delete_r_ptr_record' record.id %}" class="btn btn-danger btn-sm">&#x1f5d1; Delete</a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="4">No records</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
        <hr>
        <h2>NS records <a href="{% url 'create_r_ns_record' zone.id %}" class="btn btn-success">New</a></h2>
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead class="thead-dark">
                <tr>
                    <th>Record address</th>
                    <th>Name server</th>
                    <th>TTL</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% if zone.reversensrecord_set.all %}
                    {% for record in zone.reversensrecord_set.all %}
                        <tr>
                            <td>{{ record.record_address }}/{{ record.record_prefix }}</td>
                            <td>{{ record.nameserver }}</td>
                            <td>{{ record.ttl }}</td>
                            <td style="width: 1px;">
                                <div class="btn-group">
                                    <a href="{% url 'edit_r_ns_record' record.id %}" class="btn btn-primary btn-sm">&#x1f58a; Edit</a>
                                    <a href="{% url 'delete_r_ns_record' record.id %}" class="btn btn-danger btn-sm">&#x1f5d1; Delete</a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="4">No records</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}