{% extends 'dns_grpc/base.html' %}
{% block content %}
    <section class="stripe">
        <div class="container py-3">
            <div class="jumbotron my-0">
                <h1>Edit {{ zone.zone_root }} update secrets</h1>
                <div class="row">
                    <div class="col">
                        <div class="btn-group">
                            <a href="{% url 'edit_zone' zone.id %}" class="btn btn-primary">Back to zone</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container pt-3 pt-md-5">
        <h2>
            Secrets
            <div class="btn-group">
                <a href="{% url 'create_zone_secret' zone.id %}" class="btn btn-success">New</a>
            </div>
        </h2>
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead class="thead-dark">
                <tr>
                    <th>Record name</th>
                    <th>Type</th>
                    <th>Secret</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% if zone.dnszoneupdatesecrets_set.all %}
                    {% for record in zone.dnszoneupdatesecrets_set.all %}
                        <tr>
                            <td>{{ record.id }}.{{ zone.zone_root }}</td>
                            <td>
                                {% if record.type == "U" %}
                                    Unlimited
                                {% elif record.type == "D" %}
                                    DNS01
                                {% endif %}
                            </td>
                            <td>{{ record.secret_str }}</td>
                            <td style="width: 1px;">
                                <div class="btn-group">
                                    <a href="{% url 'edit_zone_secret' record.id %}" class="btn btn-primary btn-sm">&#x1f58a; Edit</a>
                                    <a href="{% url 'delete_zone_secret' record.id %}" class="btn btn-danger btn-sm">&#x1f5d1; Delete</a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="5">No records</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}